.pricing span.subtitle{
    font-size: 20px !important;
    text-decoration: line-through !important;
}
.contact-form-1 .form-group
{
    text-align: left;
}
.form-check
{
    padding: 0;
}
.mainmenu-nav .mainmenu li.has-droupdown .submenu
{
    min-width: 175px !important;
}
/*======= Profile Page ====*/
.height-550
{
    height: 550px;
}
.slider-perosonal-portfolio .inner
{
    margin-top: 125px;
}
